.Seachbar {
  margin: 2rem;
  input {
    margin-right: 1rem;
    padding: 1rem;
    border-style: none;
    font-size: 1rem;
    width: 300px;
    border: 2px solid white;
  }
  button {
    padding: 1rem 2.4rem;
    border-style: none;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 2px;
    color: white;
    font-size: 0.8rem;
    text-transform: uppercase;
  }
  button:hover {
    background-color: rgb(46, 46, 46);
    transition: 0.2s;
  }
}
